 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <p>I have 3+ years of experience building web and mobile apps with Javascript. I'm familiar with different frameworks and tools but I mostly work with <a href="https://reactjs.org">ReactJS</a> for web applications and <a href="https://reactnative.dev">React Native</a> for mobile. </p>
<p>I also design prototypes for web and mobile applications, ensuring that the apps I build are not only functional, but also delightful to look at and use.</p>
<p id="highlighted"><span>Currently looking for a software engineering internship. If you're hiring, I may be the right candidate. Check my <a href="./Alaa_Resume.pdf"><b>resume here</b></a>. Thank you.</span></p>
                </div>
                <div class="col-md-4" id="about-image" style="display: flex; justify-content: center">
                    <img class="img-responsive" width="200" src="img/about.png" alt="Hi there!" /
                </div>
                
            </div>
        </div>
    </section>
