 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <p>I have 3+ years of experience with Javascript, with a special attention for building not just functional, but beautiful User Interfaces that give delight to the user. I work mostly with <a href="https://reactjs.org">ReactJS</a> for web applications and <a href="https://reactnative.dev">React Native</a> for mobile, but always ready to learn anything to get the job done. </p>

<p>Apart from coding, I also design prototypes for web or mobile applications, helping bring your idea to life.</p>
<p>Got a web/mobile app idea? I'm your man 👨‍💻 Leave me a message through the contact form below.</p>
                </div>
                <div class="col-md-4" id="about-image" style="display: flex; justify-content: center">
                    <img class="img-responsive" src="img/stamp.png" alt="Hi there!" /
                </div>
                
            </div>
        </div>
    </section>
